# Your store URL, should be updated to where you are hosting your storefront.
NEXT_PUBLIC_BASE_URL=http://localhost:8000

# Default region ISO-2 lowercase (dùng cho middleware redirect)
NEXT_PUBLIC_DEFAULT_REGION=vn

# (Optional) Stripe/PayPal keys - only needed when you integrate a payment provider
NEXT_PUBLIC_STRIPE_KEY=
NEXT_PUBLIC_PAYPAL_CLIENT_ID=

# Your Next.js revalidation secret. See – https://nextjs.org/docs/app/building-your-application/data-fetching/fetching-caching-and-revalidating#on-demand-revalidation
REVALIDATE_SECRET=supersecret
